.container{

    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    }
    
    .card{
    min-height: 50vh;
    transform-style: preserve-3d;
    width: 50rem;
    background-color:#ececec;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.2), 0px 0px 50px  rgba(0,0,0,0.2);
    }

    .Model{
        min-height: 35vh;
        display: flex;
        justify-content: center;
        align-items: center;
       

    }
    .Model img{
        margin-top: 50px;
        width: 35rem;
        z-index: 2;
        transition: all 0.5s ease-out;
    }
   
    .info h1{
        font-size: 3rem;
        transition: all 0.5s ease-out;
        
    }
    .info h3{
        font-size: 1.3rem;
        padding: 2rem 0rem;
        color: #585858;
        font-weight: lighter;
        transition: all 0.5s ease-out;
        width: 60%;
       margin-left: auto;
       margin-right: auto;

    }

   .play{
       margin-top: 10rem;
   }
   .play #button{
       width: 100%;
       padding: 2rem 0rem;
       background: #fc7f7f;
       color: rgb(255, 208, 0);
       border: none;
       border-radius: unset;
       font-weight: bolder;
       transition: all 0.5s ease-out;
       
       
   }
